:root {

    /*  Background  */
    --background-main: #010409;
    --background-lite: #0D1117;
    --background-litest: #161B22;
    
    --button-green: #238636;
    --button-green-hover: #29903B;
    --button-green-active: #2E9A40;
    --button-green-disabled: #105823;
    
    --button-yellow: #866A23;
    --button-yellow-hover: #907329;
    --button-yellow-active: #9A7B2E;
    --button-yellow-disabled: #584410;
    
    --button-red: #862323;
    --button-red-hover: #902929;
    --button-red-active: #9A2E2E;
    --button-red-disabled: #581010;


    /*  Border  */
    --border-lite: #30363D;
    --border-litest: #30363DB3;
    --border-lite-ultra: #f0f6fc1a;

    --border-radius-main: 6px;
    --border-radius-sharper: 3px;
    --border-radius-rounder: 12px;

    /*  Font  */
    --font-main: #E6EDF3;
    --font-dim: #848D97;
    --font-danger: #F85149;
    --font-link: #4493f8;
    
    --font-size-title-big: 1.5em;
    --font-size-title: 1.25em;
    --font-size-title-small: 1.125em;
    --font-size-main: 1em;
    --font-size-secondary: 0.875em;
    --font-size-detail: 0.75em;
    
    /*  Padding  */
    --padding-main: 16px;
    --padding-high: 24px;
    --padding-high-ultra: 32px;
    --padding-low: 8px;
    
    --padding-input-ver: 5px;
    --padding-input-hor: 12px;
    /*  Layout  */
    --topbar-height: 64px;
    --sidebar-width: 320px;
}

* {
    /* Setting Defaults   */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    box-sizing: border-box;
    color: var(--font-main);
}

h1,h2,h3{
    margin: 0;
}

body{
    background-color: var(--background-main);
    display: flex;
    justify-content: space-between;
}

body.lite{
    background-color: var(--background-lite);
}

header{
    
    position: absolute;
    
    height: var(--topbar-height);
    width: 100%;
    z-index: 10;
    
    padding: var(--padding-main);
    
    background-color: var(--background-main);
    border-bottom: 1px solid var(--border-lite);
    display: flex;

    align-items: center;
    
    
}

header .menu-button{
    height: 32px;
    width: 32px;

    box-sizing: content-box;
    background: var(--background-main);

   
    border: 1px solid var(--border-lite);
    border-radius: var(--border-radius-main);
    padding: 0;

    cursor: pointer;

}

header .menu-button svg{
    
    fill: var(--font-dim);
    margin: var(--padding-low);;
}


header .logo{
    filter: invert(100%);
    pointer-events: none;
    height: 16px;
    margin-left: var(--padding-high);
}

header .heading{
    margin-left: var(--padding-main);
    font-size: var(--font-size-secondary);
    font-weight: 600;
}

aside{
    
    position: -webkit-sticky;
    position: sticky;
    
    height: 100vh;
    width: var(--sidebar-width);
    
    top: 0;
    margin-top: var(--topbar-height);
    padding: var(--padding-main);
    
    background-color: var(--background-lite);
    border-right: 1px solid var(--border-litest);  
    
}

.main-content{
    
    width: calc(100vw - var(--sidebar-width));
    
    margin-top: var(--topbar-height);
    padding-top: var(--padding-main);
    padding-bottom: var(--padding-main);
     
    
    display: flex;
}

.main-content.home{
    
    width: calc(100vw - var(--sidebar-width));
}

.main-content.editing{
    
    width: 100vw;
}


.feed{
    width: 60%;
    padding-right: var(--padding-high);
    padding-left: var(--padding-high);
}

.feed h2{
    font-size: var(--font-size-title-big);
    color: var(--font-main);
    margin-bottom: var(--padding-high);
}

.edit-feed{
    width: 70%;
    padding-right: var(--padding-high);
    padding-left: var(--padding-high);
}


.main-content.home .pinboard{
    width: calc(100% - (60% + var(--padding-high)));
}

.main-content.editing .pinboard{
    width: calc(100% - (70% + var(--padding-high)));
}

.pinboard h2{
    font-size: var( --font-size-secondary);
    font-weight: 600;
    color: var(--font-main);
}

.card {

    background-color: var(--background-main);
    border: 1px solid var(--border-lite);
    border-radius: var(--border-radius-main);
    padding: var(--padding-main);
    
    margin-top: var(--padding-low);
    margin-bottom: var(--padding-low);

}

.card h3{
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--font-main);
    color: var(--font-main);
}

.card p{
   font-size: var(--font-size-secondary); 
   color: var(--font-main);
   line-height: 1.5;
   margin-top: var(--padding-main);
   margin-bottom: var(--padding-main);
}

.update .heading{

    display: flex;

}



.update .heading .avatar{

    border-radius: 40px;

}

.update .heading{

    display: flex;

}

.update .heading .details{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: var(--padding-main);

    font-size: var(--font-size-secondary);
}

.update .heading .details .time-signature, .main-content .pinboard .pins .pin .pin-content .time-signature{
    color: var(--font-dim);
    font-size: var(--font-size-detail);
}

.update .heading .details .update-summary{
    color: var(--font-dim);
}

.update .heading .details .update-summary .author-name{
    color: var(--font-main);
    font-weight: 600;
}

.update .card-content{
    margin: var(--padding-main);
    padding: var(--padding-main);
    background-color: var(--background-litest);
    border-radius: var(--border-radius-main);
}

.edit {
    padding: 0 !important;
}

.edit .heading{
    background-color: var(--background-litest);
    border-top-left-radius: var(--border-radius-main);
    border-top-right-radius: var(--border-radius-main);
    border-bottom: 1px solid var(--border-lite);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-low);
    padding-left: var(--padding-main);
    padding-right: var(--padding-main);
    
}
.edit .heading .title{
    color: var(--font-main);
    font-weight: 600;
    font-size: var(--font-size-secondary);
    
}

.edit .heading .word-count{

    color: var(--font-dim);
    font-size: var(--font-size-secondary);

}
.edit .heading .word-count[plural=false]::after{
    content: " Palavra";
   }
   
.edit .heading .word-count[plural=true]::after{
 content: " Palavras";
}
    

.edit .card-content{
    background-color: var(--background-lite);
    border-bottom-left-radius: var(--border-radius-main);
    border-bottom-right-radius: var(--border-radius-main);
    overflow:hidden;

    color: var(--font-main) !important;
    font-size: var(--font-size-title-small);

    
    overflow: visible;
    
    padding-left: var(--padding-high);
    padding-right: var(--padding-high);
    padding-top: var(--padding-main);
    padding-bottom: var(--padding-main);

}

.edit .card-content .input-field{
    display: flex;
    flex-direction: column;
}

.edit .card-content .input-field .label {
    color: var(--font-main);
    font-size: var(--font-size-detail);
    font-weight: 600;
    margin-bottom: var(--padding-low);
}

.edit .card-content .input-field input{
    font-size: var(--font-size-secondary);
    background-color: var(--background-lite);
    border: 1px  solid var(--border-lite);
    border-radius: var(--border-radius-main);
    outline: none;
    padding: calc(1.5 * var(--padding-low));
    padding-top: calc(1* var(--padding-low));
    padding-bottom: calc(1 * var(--padding-low));
    margin-bottom: var(--padding-main);
    
}

.edit .card-content .input-field input::placeholder{
    color: var(--font-dim);
    font-size: var(--font-size-secondary);
}

.edit.edit-text{
    min-height: 200px;

}

.card.lite{
    background-color: var(--background-lite);
    padding: var(--padding-main);
}

.metadata .card-content{
    display: flex;
    flex-direction: column;
}

.metadata h2{
    padding-bottom: var(--padding-low);
}
.metadata .card-content .section{
    padding-bottom: var(--padding-low);
}
.metadata .card-content .section .title{
    color: var(--font-dim);
    font-size: var(--font-size-secondary);
}


aside .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--padding-high-ultra);
    margin-bottom: var(--padding-main);
}

aside .header h2{
    font-size: var( --font-size-secondary);
    font-weight: 600;
    color: var(--font-main);
}

aside .header .new-button{
    box-sizing: border-box;
    font-size: var( --font-size-detail);
    font-weight: 500;
    padding: 4px;
    padding-left: var(--padding-low);
    padding-right: var(--padding-low);
    background-color: var(--button-green);
    border-radius: var(--border-radius-main);
    border: 1px solid var(--border-lite-ultra);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .header .new-button span{
    padding-left: 5px;
}

aside .header .new-button:hover{
    background-color: var(--button-green-hover);
}

aside .header .new-button:active{
    background-color: var(--button-green-active);
}

aside .header .new-button:disabled{
    background-color: var(--button-green-disabled);
    cursor: not-allowed;
}

aside .header .new-button .new-icon{
    fill: var(--font-main);
}

aside .project-search{
    width: 100%;
    background-color: var(--background-litest);
    outline: none;
    border: 1px solid var(--border-litest);
    border-radius: var(--border-radius-main);
    padding-top: var(--padding-input-ver);
    padding-bottom: var(--padding-input-ver);
    padding-left: var(--padding-input-hor);
    padding-right: var(--padding-input-hor);
    margin-bottom: var(--padding-main);

    font-size: var(--font-size-secondary);
    color: var(--font-dim);

}   

aside .project-list{
    list-style: none;
    padding: 0;
    font-size: var(--font-size-secondary);
    
}

aside .project-list li, .project{
    margin-top: var(--padding-low);
    display: flex;
   
}

aside .project-list li .project-name, .project .project-name{
    margin-bottom: var(--padding-low);
    margin-left: var(--padding-low);
}

aside .project-list li .project-name a, .project .project-name a{
    text-decoration: none;
    
}

aside .project-list li .project-name a:hover, .project .project-name a:hover{
    text-decoration: underline;
}



aside .project-list li .project-author, .project .project-author{
    display: flex;
    
}

aside .project-list li .project-author img, .project .project-author img{
    height: 16px;
    width: 16px;
    border-radius: 16px;
}

aside .project-list li .project-author img:not(:first-child), .project .project-author img:not(:first-child){
    margin-left: calc(-1 * var(--padding-low));
    margin-top: -2px;
    box-sizing: content-box;
    border: 2px solid var(--background-lite);
}

aside .project-list li .author-info-popup, .project .author-info-popup{
   display: none;
   position: absolute;
   z-index: 1;
   margin-top: 26px;
   margin-left: -5px;
   background-color: var(--background-litest);
   border: 1px solid var(--border-litest);
   border-radius: var(--border-radius-main);
   padding: calc(1 * var(--padding-low));
   padding-top: calc(0.8 * var(--padding-low));
   padding-bottom: calc(0.8 * var(--padding-low));
   font-size: var(--font-size-detail);
}
aside .project-list li .author-info-popup ul, .project .author-info-popup ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
aside .project-list li .author-info-popup ul li, .project .author-info-popup ul li{
    margin: 0;
}
aside .project-list li .author-info-popup ul li:not(:first-of-type),.project .author-info-popup ul li:not(:first-of-type){
    padding-top: 5px;
}

aside .project-list li .author-info-popup::after, .project .author-info-popup::after{
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 12px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--border-litest) transparent;
  }

aside .project-list li .project-author:hover  .author-info-popup,  .project .project-author:hover .author-info-popup{
   display: block; 
   
}

.main-content .pinboard .pins{
    padding: 0;
    padding-top: var(--padding-low);
    list-style: none;
    
   
}

.main-content .pinboard .pins .pin{
    margin-left: var(--padding-low);
    padding-bottom: var(--padding-high);
    border-left: 1px solid var(--border-lite);
    display: flex;
}

.main-content .pinboard .pins .pin:last-child{
    padding-bottom: calc(1.25 * var(--padding-high));
}

.main-content .pinboard .pins .pin .dot {
    margin-left: calc((-1 * var(--padding-low)) - 0.5px);
    margin-top: calc((-1 * var(--padding-low)));
   
}

.main-content .pinboard .pins li .dot svg{
    fill: var(--border-lite);
   
}

.main-content .pinboard .pins .pin .pin-content{
    display: flex;
    flex-direction: column;
    margin-left: var(--padding-main);
    margin-top: calc((-1 * var(--padding-low)));
}

.main-content .pinboard .pins .pin .pin-title{
    font-size: var(--font-size-secondary);
    margin-top: calc(0.4 * var(--padding-low));
    word-wrap: break-word;
    line-height: 1.5;
    text-decoration: none;
}


.main-content .pinboard .link-all{
    margin-left: calc((4 * var(--padding-low)));
    margin-top: calc((-4.5 * var(--padding-low)));
}

aside .link-all {
    margin-top: calc((-1 * var(--padding-low)));
}


.main-content .pinboard .link-all a, aside .link-all a{
    font-size: var(--font-size-detail);
    color: var(--font-dim);
    text-decoration: none;
}

.main-content .pinboard .link-all a:hover, aside .link-all a:hover{
    color: var(--font-link);
    cursor: pointer;
}

.main-content .pinboard .pins .pin .pin-title:hover{
    color: var(--font-link);
    text-decoration: underline;
    cursor: pointer;

}

/* Overriding Quill.js themes */
.ql-editor.ql-blank::before{
    color: var(--font-dim) !important;
    font-size: var(--font-size-secondary);
    font-style: normal !important;
    left: var(--padding-high) !important;
    right: var(--padding-high) !important;
}

.ql-editor {
    line-height: 1.5 !important;
    padding: 0 !important;
  }

  .ql-editor p{

    padding-bottom: var(--padding-low) !important;

  }

  .ql-bubble .ql-tooltip {
    background-color: var(--background-litest) !important;
    border: 1px solid var(--border-lite);
    border-radius: var(--border-radius-main) !important;
    color: var(--font-main) !important;
  }