:root {

    /*  Background  */
    --background-main: #010409;
    --background-lite: #0D1117;
    --background-litest: #161B22;
    
    --button-green: #238636;
    --button-green-hover: #29903B;
    --button-green-active: #2E9A40;
    --button-green-disabled: #105823;
    
    --button-yellow: #866A23;
    --button-yellow-hover: #907329;
    --button-yellow-active: #9A7B2E;
    --button-yellow-disabled: #584410;
    
    --button-red: #862323;
    --button-red-hover: #902929;
    --button-red-active: #9A2E2E;
    --button-red-disabled: #581010;


    /*  Border  */
    --border-lite: #30363D;
    --border-litest: #30363DB3;
    --border-lite-ultra: #f0f6fc1a;

    --border-radius-main: 6px;
    --border-radius-sharper: 3px;
    --border-radius-rounder: 12px;

    /*  Font  */
    --font-main: #E6EDF3;
    --font-dim: #848D97;
    --font-danger: #F85149;
    
    --font-size-title-big: 1.5em;
    --font-size-title: 1.25em;
    --font-size-title-small: 1.125em;
    --font-size-main: 1em;
    --font-size-secondary: 0.875em;
    --font-size-detail: 0.75em;
    
    /*  Padding  */
    --padding-main: 16px;
    --padding-high: 24px;
    --padding-high-ultra: 32px;
    --padding-low: 8px;
    
    --padding-input-ver: 5px;
    --padding-input-hor: 12px;
    /*  Layout  */
    --topbar-height: 64px;
    --sidebar-width: 320px;
}

* {
    /* Setting Defaults   */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    box-sizing: border-box;
    color: var(--font-main);
}

h1,h2,h3{
    margin: 0;
}

body{
    background-color: var(--background-main);
    display: flex;
    justify-content: space-between;
}

header{
    
    position: absolute;
    
    height: var(--topbar-height);
    width: 100%;
    z-index: 10;
    
    padding: var(--padding-main);
    
    background-color: var(--background-main);
    border-bottom: 1px solid var(--border-lite);
    
    
}

aside{
    
    position: -webkit-sticky;
    position: sticky;
    
    height: 100vh;
    width: var(--sidebar-width);
    
    top: 0;
    margin-top: var(--topbar-height);
    padding: var(--padding-main);
    
    background-color: var(--background-lite);
    border-right: 1px solid var(--border-litest);  
    
}

.main-content{
    
    width: calc(100vw - var(--sidebar-width));
    
    margin-top: var(--topbar-height);
    padding-top: var(--padding-main);
    padding-bottom: var(--padding-main);
    
    padding-right: var(--padding-high);
    padding-left: var(--padding-high);
    
    display: flex;
    flex-direction: column;
}

.feed{
    width: 60%;
}

.feed h2{
    font-size: var(--font-size-title-big);
    color: var(--font-main);
    margin-bottom: var(--padding-high);
}


.pinboard{
     width: 40%;
}

/* UI Elements*/

.card{
    
    background-color: var(--background-main);
    border: 1px solid var(--border-lite);
    border-radius: var(--border-radius-main);
    padding: var(--padding-main);
    
    margin-top: var(--padding-low);
    margin-bottom: var(--padding-low);
    
}

.card h3{
    font-size: var(--font-size-title);
    font-weight: 700;
    color: var(--font-main);
    color: var(--font-main);
}

.card p{
   font-size: var(--font-size-secondary); 
   color: var(--font-main);
   line-height: 1.5;
   margin-top: var(--padding-main);
   margin-bottom: var(--padding-main);
}

.lite{
    
    background-color: var(--background-lite);
    padding: var(--padding-main);
    
}

.card-litest{
    
}


aside .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--padding-high-ultra);
    margin-bottom: var(--padding-main);
}

aside .header h2{
    font-size: var( --font-size-secondary);
    font-weight: 600;
    color: var(--font-main);
}

aside .header .new-button{
    box-sizing: border-box;
    font-size: var( --font-size-detail);
    font-weight: 500;
    padding: 4px;
    padding-left: var(--padding-low);
    padding-right: var(--padding-low);
    background-color: var(--button-green);
    border-radius: var(--border-radius-main);
    border: 1px solid var(--border-lite-ultra);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .header .new-button span{
    padding-left: 5px;
}

aside .header .new-button:hover{
    background-color: var(--button-green-hover);
}

aside .header .new-button:active{
    background-color: var(--button-green-active);
}

aside .header .new-button:disabled{
    background-color: var(--button-green-disabled);
    cursor: not-allowed;
}

aside .header .new-button .new-icon{
    fill: var(--font-main);
}

aside .project-search{
    width: 100%;
    background-color: var(--background-litest);
    outline: none;
    border: 1px solid var(--border-litest);
    border-radius: var(--border-radius-main);
    padding-top: var(--padding-input-ver);
    padding-bottom: var(--padding-input-ver);
    padding-left: var(--padding-input-hor);
    padding-right: var(--padding-input-hor);
    margin-bottom: var(--padding-main);

    font-size: var(--font-size-secondary);

}   

aside .project-list{
    list-style: none;
    padding: 0;
    font-size: var(--font-size-secondary);
    
}

aside .project-list li{
    margin-top: var(--padding-low);
   display: flex;
   
}

aside .project-list li .project-name {
    margin-bottom: var(--padding-low);
    margin-left: var(--padding-low);
}

aside .project-list li .project-name a{
    text-decoration: none;
    
}

aside .project-list li .project-name a:hover{
    text-decoration: underline;
}



aside .project-list li .project-author{
    display: flex;
    
}

aside .project-list li .project-author img{
    height: 16px;
    width: 16px;
    border-radius: 16px;
}

aside .project-list li .project-author img:not(:first-child){
    margin-left: calc(-1 * var(--padding-low));
    margin-top: -2px;
    box-sizing: content-box;
    border: 2px solid var(--background-lite);
}

aside .project-list li .author-info-popup{
   display: none;
   position: absolute;
   z-index: 1;
   margin-top: 26px;
   margin-left: -5px;
   background-color: var(--background-litest);
   border: 1px solid var(--border-litest);
   border-radius: var(--border-radius-main);
   padding: calc(1 * var(--padding-low));
   padding-top: calc(0.8 * var(--padding-low));
   padding-bottom: calc(0.8 * var(--padding-low));
   font-size: var(--font-size-detail);
}
aside .project-list li .author-info-popup ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
aside .project-list li .author-info-popup ul li{
    margin: 0;
}
aside .project-list li .author-info-popup ul li:not(:first-of-type){
    padding-top: 5px;
}

aside .project-list li .author-info-popup::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 12px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--border-litest) transparent;
  }

aside .project-list li .project-author:hover  .author-info-popup{
   display: block; 
   
}
